@import 'Mixins';
*,
*:after,
*:before {
  box-sizing: border-box;
  font-weight: lighter;
}

//main container for app
.app {
  display: flex;
}

body {
  background-color: $lavender;
  color: $main-color;
}


