@import 'Mixins';
*,
*:after,
*:before {
  box-sizing: border-box;
  font-weight: lighter;
}

//main container for app
.app {
  display: flex;
}

body {
  background-color: $background;
  color: $primary-text-color;
}

@media screen and (max-width: 793px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}


