//right side of app that appears after method button click
.right-box {
  background-color: $white;
  font-family: $primary;
  font-size: 1.3em;
  margin-left: .4em;
  margin-top: 10em;
  padding: .8em;
  text-align: center;
  width: 50%;
}

.right-box-cards-container {
  border-radius: .5em;
  border: .1em solid $primaryBorderColor;
  height: 14em;
  margin-top: 1.3em;
  padding: 1em;
  width: 27.6em;
}

//question that gets displayed after method button click

.question {
  margin-top: 1.5em;
}

//container that holds answer input and submit button 
.right-controls {
  margin-top: 2.5em;
}

//answer input field
.card-input {
  border: 1px solid $primaryBorderColor;
  border-right: none;
  border-radius: .5em 0 0 .5em;
  font-size: .6em;
  height: 3em;
  padding-left: .7em;
  margin-top: 2px;
  vertical-align: bottom;
  width: 15em;
}

//gets rid of blue outline around input
.card-input:focus {outline:0;}

//submit answer button - this displays on right side after click
.submit-answer {
  border: 1px solid $primaryBorderColor;
  border-radius: 0 .5em .5em 0;
  border-left: none;
  background-color: $lavender;
  cursor: pointer;
  font-family: $primary;
  height: 3.4em;
  letter-spacing: .1em;
  width: 8em;
  &:hover {
    color: $white;
    background-color: $primaryHoverColor;
    transition: all 0.3s ease-in-out;
  }
}

//gets rid of outline after button click
.submit-answer:focus {outline:0;}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: -1em;
}

//link to mdn docs for more research on displayed method type
.learn-more {
  color: $primary-text-color;
  cursor: pointer;
  font-family: $primary;
  font-size: .7em;
  height: 3.4em;
  letter-spacing: .1em;
  margin-right: 2em;
  margin-top: 2em;
  text-decoration: underline;
  width: 8em;
  &:hover {
    color: $learnMoreHover;
    transition: all 0.3s ease-in-out;
  }
}

.study-list-text {
  font-family: $primary;
  font-size: .7em;
  font-weight: bold;
  height: 3.4em;
  letter-spacing: .1em;
  margin-right: 2em;
  margin-top: 2em;
  text-decoration: none;
  width: 8em;
}

.answer-text {
  color: $answerRightWrongText;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: .1em;
}

@media screen and (max-width: 1004px) {
  .right-box,
  .right-box-cards-container {
    display: block;
    width: 100%;
  }
  .card-input {
    height: 2.5em;
    width: 10em;
  }
  .submit-answer {
    height: 2.8em;
    padding: .4em;
    width: 6em;
  }
  .question {
    font-size: .8em;
  }
}
@media screen and (max-width: 793px) {
  .right-box{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .right-box {
    display: flex;
    margin-left: 0em;
    margin-top: 1em;
    width: 100%;
  }
  .learn-more {
    font-size: .5em;
  }
  .right-controls {
    margin: .9em 2em;
  }
  @media screen and (max-width: 386px) {
  .submit-answer {
      border-left: 1px solid $primaryBorderColor;
      height: 2.7em;
      margin-top: .7em;
      padding: .4em;
      width: 12em;
    }
    .card-input {
      width: 10.7em;
    }
  }
  .card-input,
  .submit-answer {
    border-radius: .5em .5em .5em .5em;
    display: block;
    border-right: 1px solid $primaryBorderColor;
    height: 2.4em;
  }
}