//container for left side of app
.left-box {
  background-color: $white;
  font-family: $primary;
  font-size: 1.3em;
  margin-top: 10em;
  padding: .8em;
  text-align: center;
  width: 50%;
}

//'which methods' title that displays on left side of app
.left-title {
  font-size: 1.3em;
  margin-top: 1em;
}

//subtitle directions for user to click button 
.left-subtitle {
  color: hsla(253, 50%, 53%, 1);
  font-size: .9em;
  font-style: italic;
  &:hover {
    color: hsla(283, 59%, 55%, 1);
    font-size: 1em;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

//method buttons
.button {
  @include button-rules;
  background-color: $lavender;
  border: 1px solid $primaryBorderColor;
  cursor: pointer;
  border-radius: .5em;
  font-family: $primary;
  font-size: .8em;
  height: 3.4em;
  letter-spacing: .1em;
  margin: 1em;
  padding: .5em;
  width: 10em;
}

//creates line under method buttons on left of page
hr {
  width: 80%;
}

//gets rid of outline after button click
.button:focus {outline:0}

//text on left side of app - bottom left 'study' area
.need-to-study-text {
  font-size: 1.2em;
  margin-top: 2em;
}
//local storage number area
.study-list-text {
  text-decoration: underline;
  margin-right: 3em;
}

@media screen and (max-width: 1004px) {
  .left-box {
    width: 50%;
  }

  hr {
    width: 75%;
  }
  
  .button-container {
    margin-left: 0px;
    margin-right: 0px;
    width: 50%;
  }
}

@media screen and (max-width: 793px) {
  .left-box,
  .button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .button {
    width: 75%;
  }

  .left-title,
  .need-to-study-text,
  .study-list-text {
    font-size: .9em;
  }
  
  .left-subtitle {
    font-size: .7em;
    &:hover {
      font-size: .8em;
    }
  }

  .button-container {
    width: 100%;
    margin: .8em;
  }
}

@media screen and (max-width: 575px) {
  .button {
    margin: 1em;
    width: 75%;
  }
}