//main header for app
header {
  background-color: $white;
  height: 10em;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

//title within header
.title {
  display: flex;
  flex-direction: column;
  font-family: $primary;
  font-size: 4em;
  margin-bottom: .2em;
  margin-top: 0em;
  padding-top: .3em;
  text-align: center;
}

//subtitle below title text in header
.subtitle {
font-family: $primary;
font-size: 1.4em;
margin-top: .3em;
text-align: center;
}