//main header for app
header {
  background-color: $hoverTextColorAndCardBackground;
  height: 10em;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

//title within header
.title {
  display: flex;
  flex-direction: column;
  font-family: $primary;
  font-size: 4em;
  margin-bottom: .2em;
  margin-top: 0em;
  padding-top: .3em;
  text-align: center;
}

//subtitle below title text in header
.subtitle {
font-family: $primary;
font-size: 1.4em;
margin-top: .3em;
text-align: center;
}

@media screen and (max-width: 405px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 2.9em;
    margin-bottom: .2em;
  }

  .subtitle {
    font-size: 1.2em;
    margin-top: .8em;
    margin-left: .5em;
    margin-right: .5em;
  }
}