//import font for use within app
@import url('https://fonts.googleapis.com/css?family=Neucha');;

//colors used throughout app
$primary: 'Neucha', cursive;
$background: hsla(240, 67%, 94%, 1);
$hoverTextColorAndCardBackground: hsla(360, 100%, 100%, 1);
$primary-text-color: hsla(360, 0%, 34%, 1);
$primaryBorderColor: hsla(0, 0%, 50%, 1);
$primaryHoverColor: hsla(263, 44%, 48%, 1);
$learnMoreHover: hsla(238, 68%, 58%, 1);
$answerRightWrongText: hsla(264, 52%, 63%, 1);

@mixin button-rules {
  border-radius: 5px;
  font-weight: 800;
  height: 30px;
  outline: none;
  &:hover {
    background-color: $primaryHoverColor;    
    color: $hoverTextColorAndCardBackground;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}