@import url('https://fonts.googleapis.com/css?family=Neucha');;

$primary: 'Neucha', cursive;
$lavender: hsla(240, 67%, 94%, 1);
$white: hsla(360, 100%, 100%, 1);
$main-color: hsla(360, 0%, 34%, 1);
$black: hsla(360, 0%, 0%, 1);
$gray: hsla(0, 0%, 50%, 1);
$lightgray: hsla(0, 0%, 74%, 1);