//import font for use within app
@import url('https://fonts.googleapis.com/css?family=Neucha');;

//colors used throughout app
$primary: 'Neucha', cursive;
$lavender: hsla(240, 67%, 94%, 1);
$white: hsla(360, 100%, 100%, 1);
$main-color: hsla(360, 0%, 34%, 1);
$black: hsla(360, 0%, 0%, 1);
$gray: hsla(0, 0%, 50%, 1);
$lightgray: hsla(0, 0%, 74%, 1);
$deepPurple: hsla(263, 44%, 48%, 1);
$bluePurple: hsla(238, 68%, 58%, 1);

@mixin button-rules {
  border-radius: 5px;
  font-weight: 800;
  height: 30px;
  outline: none;
  &:hover {
    background-color: $deepPurple;    
    color: $white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  &:focus {
    background-color: $deepPurple;
    color: $white;
  }
}